body {
    background-color: #2b2b2b;
    background-image: url(https://img.freepik.com/free-vector/geometric-pattern-navy-background_78370-653.jpg);
    background-size: cover;
    width: 80%;
    margin: auto;
h1{
    color: white;
    text-align:center

    }
}

p{
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    }

.verde {
        /* Soy un comentario de CSS, no confundirse con comentarios de HTML. */
        color: green;
        }

